.genral-text {
  background-color: #5654a2;
  color: #fff;
}

.success-text {
  background-color: #007b43;
  color: #fff;
}

.fail-text {
  background-color: #df7163;
  color: #fff;
}

.warning-text {
  background-color: #f8b500;
  color: #fff;
}
